<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Contact Us</h3>
            <hr>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12">
            <h3>Find Us!</h3>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <h5>Our Address</h5>
            <address style="font-size: 100%">
                11200 SW 8th ST 33174<br>
                Miami, FL<br>
                USA<br>
                <i class="fa fa-phone"></i>: +305 555 9999<br>
                <i class="fa fa-fax"></i>: +305 666 0000<br>
                <i class="fa fa-envelope"></i>:
                <a href="mailto:virtualeats@food.net">admin@virtualeats.net</a>
            </address>
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" class="btn btn-primary" href="tel:+305 555 9999"><i class="fa fa-phone"></i> Call</a>
                <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                <a type="button" class="btn btn-success" href="mailto:virtualeats@food.net"><i class="fa fa-envelope-o"></i> Email</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-1">
            <h5>Map of our Location</h5>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.4116207398106!2d-80.3820601493123!3d25.756964283558617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9bf2f77e025a7%3A0xe813261a0a98425!2s11200+SW+8th+St%2C+Miami%2C+FL+33199!5e0!3m2!1sen!2sus!4v1478829212967" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row row-content" ng-if="user">
        <div class="col-xs-12">
            <h3>Send us your Feedback</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal" role="form" name="feedbackForm"  ng-submit="sendFeedback()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : feedbackForm.firstName.$error.required && !feedbackForm.firstName.$pristine }">
                    <label for="firstname" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name"
                               ng-model="myfeedback.firstName" required>
                        <span ng-show="feedbackForm.firstName.$error.required && !feedbackForm.firstName.$pristine" class="help-block">Your First name is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : feedbackForm.lastName.$error.required && !feedbackForm.lastName.$pristine }">
                    <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name"
                               ng-model="myfeedback.lastName" required>
                        <span ng-show="feedbackForm.lastName.$error.required && !feedbackForm.lastName.$pristine" class="help-block">Your Last name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telnum" class="col-sm-2 control-label">Contact Tel.</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number"
                               ng-model="myfeedback.tel">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback' : feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine }">
                    <label for="emailid" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email"
                               ng-model="myfeedback.email" required>
                        <span ng-show="feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span ng-show="feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine" class="help-block">Enter a valid email address.</span>
                        <span ng-show="feedbackForm.emailid.$error.required && !feedbackForm.emailid.$pristine" class="help-block">Enter a valid email address.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="numpeople" class="col-sm-2 control-label">
                        Rating
                    </label>
                    <div class="col-sm-10" >
                        <label class="radio-inline" >
                            <input type="radio" name="rating" ng-model="myfeedback.rating"
                                   id="rating1" value=1> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rating" ng-model="myfeedback.rating" 
                                   id="rating2" value=2> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rating" ng-model="myfeedback.rating"
                                   id="rating3" value=3> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rating" ng-model="myfeedback.rating"
                                   id="rating4" value=4> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rating" ng-model="myfeedback.rating"
                                   id="rating5" value=5 checked> 5
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="feedback" class="col-sm-2 control-label">Your Feedback</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="feedback" name="feedback" rows="12"
                                  ng-model="myfeedback.comments" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid">Send Feedback</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="col-xs-12 col-xs-offset-1">
        <h3>
            Customer Feedback
        </h3>
        <ul class="list-unstyled">
            <li ng-repeat="comment in feedback | orderBy:orderText">
                <blockquote>
                    <p>{{comment.comments}}</p>
                    <p>{{comment.rating}} Stars</p>
                    <footer>{{comment.firstName}} {{comment.lastName}}, {{comment.updatedAt | date:'MMM. dd, yyyy'}}</footer>
                </blockquote>
            </li>
        </ul>
    </div>
</div>