    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=30 width=41></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: stateis('app')}"><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    <li ng-class="{active: stateis('app.menu') }"><a ui-sref="app.menu">
                         <span class="glyphicon glyphicon-list-alt"
                         aria-hidden="true"></span> 
                         Menu</a></li>
                     <li ng-class="{active: stateis('app.contactus')}"><a ui-sref="app.contactus">
                     <i class="fa fa-envelope-o"></i> Contact</a></li>
                    <li ng-class="{active: stateis('app.promotions')}">
                        <a ui-sref="app.promotions">
                            <i class="fa fa-star"></i> Promotions
                        </a>
                    </li>
                    <li ng-if ="loggedIn"ng-class="{active: stateis('app.reservations')}"><a ui-sref="app.reservations">
                        <span class="glyphicon glyphicon-cutlery"
                              aria-hidden="true"></span> Reservations</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="loggedIn">
                        <a ng-click="openReservation()">
                            <span class="glyphicon glyphicon-pencil"></span> Reserve
                        </a>
                    </li>
                    <li ng-if="!loggedIn"><a ng-click="openLogin()">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li ng-if="loggedIn">
                        <a ng-click="openAccount()">
                            <span class="glyphicon glyphicon-user"></span> Account
                        </a>
                    </li>
                    <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                    <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                    <li>
                    <a ng-click=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>         
               
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1>Virtual Eats</h1>
                    <p style="padding:40px;"></p>
                    <p>We take pride in providing our costumers with the
                    best dining experience from their favorite restaurants,
                    in a polished and simplified way!</p>
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                <img src="images/logo.png" class="img-responsive">
                </div>
            </div>
        </div>
    </header>


