
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">My Reservations</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Reservations</h3>
        </div>
    </div>
    <div class="row row-content">
        <!--TODO
        add support for addMenuItem and deleteMenuItem buttons-->
        <div class="tab-content">
            <ul class="media-list tab-pane fade in active">
                <li class="media" ng-repeat="reservation in myreservations">
                    <div class="media-left media-middle">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <label>Date: </label>
                            {{reservation.date}} <br>
                            <label>Time: </label>
                            {{reservation.time}}<br>

                            <label>Location: </label>
                            <span class="media-heading">{{reservation.section}}</span><br>
                        </h4>
                        <button ng-show="showDelete" ng-click="cancelReservation(reservation._id)" class="btn btn-xs btn-default pull-right"
                                type="button">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                    <hr>
                </li>

            </ul>
        </div>
    </div>
</div>
