﻿<div class="ngdialog-message">
    <div class="">
        <h4>Reserve Table</h4>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
        <form role="form" name="sendForm" ng-submit="sendReservation()" novalidate>
            <div class="form-group">
                <label for="guests">Number Of Guest(s) (select one)</label>
                <select class="form-control" ng-model="myreservation.guests" id="guests" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
            <div class="form-group" ng-class="{ 'has-error' :
            sendForm.date.$error.required && !sendForm.date.$pristine }">
                <label for="date">Date</label>
                <div>
                    <input type="text" class="form-control" id="date" name="date" placeholder="MM/DD/YYYY"
                           ng-model="myreservation.date" required>
                    <span ng-show="sendForm.date.$error.required && !sendForm.date.$pristine" class="help-block">The date of the reservation is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="time">Time (PM)</label>
                <div id="time">
                    <label class="radio-inline">
                        <input name="five" type="radio" id="5" value=5  ng-model="myreservation.time" checked>5
                    </label>
                    <label class="radio-inline">
                        <input name="six" type="radio" id="6" value=6 ng-model="myreservation.time">6
                    </label>
                    <label class="radio-inline">
                        <input name="seven" type="radio" id="7" value=7 ng-model="myreservation.time">7
                    </label>
                    <label class="radio-inline">
                        <input name="eight" type="radio" id="8" value=8 ng-model="myreservation.time">8
                    </label>
                    <label class="radio-inline">
                        <input name="nine" type="radio" id="9" value=9 ng-model="myreservation.time">9
                    </label>
                    <label class="radio-inline">
                        <input name="ten" type="radio" id="10" value=10 ng-model="myreservation.time">10
                    </label>
                </div>
            </div>
            <div class="form-group">
                <!--Inside = TRUE
                    Outside = FALSE-->
                <label for="section">Section </label>
                <div id="section">
                    <label class="radio-inline">
                        <input name="section" type="radio" id="inside" value="inside" ng-model="myreservation.section" checked>Inside
                    </label>
                    <label class="radio-inline">
                        <input name="section" type="radio" id="outside" value="outside" ng-model="myreservation.section">Outside
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-info btn-sm" ng-disabled="sendForm.$invalid">Reserve Table! </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button> &nbsp; &nbsp;
                </div>
            </div>
        </form>
    </div>
</div>